src/main/mule/activemq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2d7618c1-385b-4af4-b8b5-5634814950ee" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="86faccef-c615-4169-a43e-4fa279071bf1" >
		<jms:active-mq-connection >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="activemqFlow" doc:id="0aceb6bb-2516-4d8e-afef-eab7e726ab27" >
		<http:listener doc:name="Listener" doc:id="d89af96f-b74f-41f7-9ccc-3168f09cd73c" config-ref="HTTP_Listener_config" path="/jms"/>
		<jms:publish-consume doc:name="Publish consume" doc:id="81e38091-c5ea-4af5-8090-8bfa4d796457" config-ref="JMS_Config" destination="gajana"/>
		<logger level="INFO" doc:name="Logger" doc:id="7e667341-6130-4c0c-a3ff-2385e52e604b" message="#[payload ++ 'publish']"/>
	</flow>
	<flow name="activemqFlow1" doc:id="2b26d6f0-4d17-41ee-94d5-1b5e6fd296d2" >
		<jms:listener doc:name="Listener" doc:id="1add1227-3381-4f59-83b8-b89e5621203e" config-ref="JMS_Config" destination="gajana">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<set-payload value="#[payload ++ 'welcome']" doc:name="Set Payload" doc:id="8c62e594-b57a-4c51-8d0a-44674cea3880" />
		<logger level="INFO" doc:name="Logger" doc:id="6bb49281-64c4-4eb7-9ff3-b6b4dbd9bf9a" message="#['Received'++'      '++ payload]"/>
	</flow>
</mule>
